*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;

}

body{
    background-color: rgb(162, 210, 255)
    
}

.scorebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60%;
    margin-inline: auto;
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
    margin-top: 40px;
    background-color: rgb(189, 224, 254) ;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.397);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  100%;
    gap: 30px;
}
.score-card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    width: 100%;
    
}

.team{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    gap :20px;
    
}
.team img{
    width: 12%;
}

#copyright{
    font-size: 0.7rem;
    text-align: center;
    color: red;
    margin-top: 60px;
}
#clock{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.25rem;
    border: 0.5px solid gray;
    font-weight: 700px;
}
@media (max-width : 686px) {
    .scorebox{
        width: 90%;
    }
    h2{
        font-size: 1.3rem;
    }
    .score-card{
        font-size: 0.85rem;
    }
    .team{
        font-size: 0.8rem;
    }
}